*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 204, 1);
    font-family: 'Calibri', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.title h1,
.title p,
h2, 
.menu li a{
    font-family: 'JMH SS', sans-serif;
}
.section{
    width: 100%;
    height: 100dvh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
