*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 204, 1);
    font-family: 'Calibri', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.title h1,
.title p,
h2, 
.menu li a{
    font-family: 'JMH SS', sans-serif;
}
.section{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.btn_link{
    width: 100%;
    padding: .5rem;
    color: #FFF;
    font-size: 1.2rem;
    background-color: #507393;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}
.btn_link::after{
    content: "";
    background-color: #1e41a3;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    transition: all 0.35s;
}
.btn_link:hover::after{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
}