.container{
    height: 100vh;
    background-image: url('../assets/tres-minions-removebg-preview2.png');
    background-repeat: no-repeat;
    background-position: bottom;
}
.navbar{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e4e4e4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.logo-container{
    width: 40%;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.logo-container a img{
    width: 8rem;
}
.btn{
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;
    background-image: url('../assets/menu.png');
    background-size: cover;
}
.menu-container:hover .menu{
    display: flex;
    width: 100%;
    height: calc(100vh - 3rem);
    justify-content: space-evenly;
    align-items: center;
    background-color: #252525bb;
}
.menu{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    position: absolute;
    top: 3rem;
    right: 0;
    display: none;
}
.menu a:hover{
    border-bottom: 2px solid #FFF;
}
.title{
    align-self: center;
}
.title h1{
    font-size: 7.5rem;
    text-align: center;
}
.title p{
    color: #252525;
}
