#kevin,
#gallery{
    background-color: #FFF;
}
#kevin .custom-shape-divider-top .shape-fill,
#gallery .custom-shape-divider-top .shape-fill{
    fill: rgb(255,204,1);
}
#kevin .container-minion h2,
#gallery .container-minion h2{
    color: rgb(255,204,1);
}
@media screen and (min-width:600px){
    #kevin .container-minion div{
        order: 1;
    }
    #kevin .container-minion img{
        order: -1;
    }
}
@media screen and (min-width:1024px){
    #kevin{
        background-image: url(../assets/back-kevin.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
}