#stuart, 
#bob{
    background-color: rgb(255, 204, 1);
}
#stuart .container-minion{
    margin-top: 33vmax;
}
.video{
    height: 25vmax;
    position: absolute;
    top: 2rem;
    z-index: 1;
}
.video video{
    height: 100%;
}
.custom-shape-divider-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-top svg{
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
}
.custom-shape-divider-top .shape-fill{
    fill: #FFFFFF;
}
.container-minion{
    width: 80%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.container-minion h2{
    color: #FFF;
    font-size: 3rem;
}
.container-minion div a:first-of-type{
    display: none;
}
.container-minion p{
    color: #252525;
}
.container-minion img{
    width: 10rem;
}

@media screen and (min-width:600px){
    .container-minion{
        width: 90%;
        flex-direction: row;
    }
    .name-minion h2{
        font-size: 4rem;
    }
    .name-minion{
        padding-right: 1rem;
    }
    .container-minion .name-minion a:first-of-type{
        display: block;
        margin-top: 1.2rem;
    }
    .container-minion a{
        font-size: 1.2rem;
    }
    .container-minion a:last-of-type{
        display: none;
    }
}

